<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('head') %>
</head>

<body>
    <%- include('menu') %>
        <div class="container col-md-4 mt-5">
            <form action="adicionarControleImunizacao" method="post" class="shadow-lg p-5 rounded">
                <h2 class="fw-bold text-center">Controle de imunização</h2>
                <br>
                <div class="form-group">
                    <label for="dataVacinacao">
                        Data de vacinação do pet
                    </label>
                    <input type="date" class="form-control" name="dataVacinacao" required>
                </div>
                <div class="form-group">
                    <label for="nomeVacina">
                        Qual vacina foi aplicada ?
                    </label>
                    <input type="text" class="form-control" placeholder="Digite aqui" name="nomeVacina" required>
                </div>
                <div class="form-group">
                    <label for="nomeVeterinario">
                        Veterinário que aplicou
                    </label>
                    <input type="text" class="form-control" placeholder="Digite aqui" name="nomeVeterinario" required>
                </div>
                <div class="form-group">
                    <label for="dataRevacinacao">
                        Data de repetir a dose
                    </label>
                    <input type="date" class="form-control" name="dataRevacinacao" required>
                </div>
                <div class="form-group text-center mt-5">
                    <input type="submit" class="btn text-light fw-bold shadow-lg" name="btn" value="CONFIRMAR" style="background-color: #E26A29;">
                </div>
            </form>
        </div>
</body>

</html>