<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('head') %>
</head>

<body>
  <div class="container text-center col-md-4" style="margin-top: 30px;">
    <% if(erro_cadastro){ %>
      <div class='alert alert-danger' style="height: 60px;">
        <p>
          <%= erro_cadastro %>
        </p>
      </div>
      <%} %>
    <form action="/user-create" method="post" class="shadow-lg p-5 rounded" enctype="multipart/form-data">
      <div id="liveAlertPlaceholder"></div>
      <img class="logo" src="images/logo.png" alt="logo">
      <h2 class="fw-bold">Crie sua conta</h2>
      <p >Deseja entrar como veterinário? <a href="/cadastro-vet" style="text-decoration: none; color: #E26A29;">Clique aqui</a>
      </p>
      <br>
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
              viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
            </svg>
          </span>
          <input name="name" type="text" class="form-control" placeholder="Seu nome" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
            </svg>
          </span>
          <input name="email" type="email" class="form-control" placeholder="Seu email" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill"
              viewBox="0 0 16 16">
              <path
                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
            </svg>
          </span>
          <input name="password" type="password" class="form-control" placeholder="Sua senha" minlength="8" required>
        </div>
      </div>
      <div class="text-start">
        <label for="bio" class="fw-bold">
          Biografia (opcional)
        </label>
        <textarea name="bio" class="form-control" placeholder="Conte-nos um pouco sobre você e seus pets" rows="3"></textarea>
      </div>
      <br>
      <div class="form-group text-start">
        <label for="profilePic" class="fw-bold"> 
          Foto de perfil (opcional)
        </label>
        <input name="profilePic" class="form-control" type="file">
      </div>
      <br>
      <div class="form-group">
        <input type="submit" class="btn text-light shadow w-100" name="btn" value="Cadastrar" id="liveAlertBtn" style="background-color: #E26A29;">
      </div>
      <a href="/home" style="text-decoration: none; color: #E26A29;">Voltar para menu</a>
    </form>
  </div>
</body>

</html>

<!-- <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill"
              viewBox="0 0 16 16">
              <path
                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
            </svg>
          </span>
          <input name="password" type="password" class="form-control" placeholder="Confirme sua senha" name="senhaUsuario" required>
        </div>
      </div> -->