<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head') %>
</head>
<body>
    <%- include('menu') %>
    <div class="container mt-5">
        <div class="d-flex flex-row justify-content-center">
            <h3 class="fw-bold my-2 mx-5">Bem vindo ao <span style="color: #EB762B;">Fórum</span>, Gabriel!</h3>
            <a href="/adicionarMensagemForum">
                <div class="icon shadow">
                    <img src="images/plus.png" alt="plus" style="height: 30px; width: 30px; margin: 12px;">
                </div>
            </a>
        </div>
        <div class="mensagemForum container shadow p-5 mt-5">
            <h3 class="fw-bold">Primeira mensagem</h3>
            <br>
            <p>Minha primeira mensagem aqui no fórum!</p>
            <p class="fw-bold">Usuário: Gabriel Pacheco</p>
            <br>
            <p class="">
                <a  href="" 
                    style="color: #EB762B;">
                    Responder
                </a>
            </p>
            
        </div>
        <br>
    </div>
    
</body>
</html>