<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('head') %>
</head>
<body>
  <div class="container text-center col-md-4" style="margin-top: 150px;">
    <% if(sucesso_cadastro) { %>
      <div class='alert alert-success' style="height: 60px;">
        <p>
          <%= sucesso_cadastro %>
        </p>
      </div>
    <% } %>
    <% if(erro_login) { %>
      <div class='alert alert-danger' style="height: 60px;">
        <p>
          <%= erro_login %>
        </p>
      </div>
    <% } %>
    <% if(erro) { %>
      <div class='alert alert-danger' style="height: 60px;">
        <p>
          <%= erro %>
        </p>
      </div>
    <% } %>
    <form action="/user-login" method="post" class="shadow-lg p-5 rounded" enctype="multipart/form-data">
      <img class="logo" src="images/logo.png" alt="logo">
      <h2 class="fw-bold">Seja bem-vindo</h2>
      <p class="">Não possui conta? <a href="/cadastro" style="text-decoration: none; color: #E26A29;">Cadastre-se</a></p>
      <br>
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </svg>
          </span>
          <input name="email" type="email" class="form-control" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg>
          </span>
          <input name="password" type="password" class="form-control" placeholder="Senha" required>
        </div>
      </div>          
      <div class="form-group">
        <input type="submit" class="btn text-light shadow w-100" name="btn" value="Entrar" style="background-color: #E26A29;">  
      </div>
      <a href="/home" style="text-decoration: none; color: #E26A29;">Voltar para menu</a>
    </form>
  </div>
</body>
</html>

