<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('head') %>
</head>

<body>
    <%- include('menu') %>
</body>
<div class="container">
    <h3 class="mt-5 fw-bold text-center">Minhas mensagens</h3>
    <div class="mensagemForum container shadow p-5 mt-5">
        <h3 class="fw-bold">Primeira mensagem</h3>
        <br>
        <p>Minha primeira mensagem aqui no fórum!</p>
        <p class="fw-bold">Usuário: Gabriel Pacheco</p>
        <br>
        <p class="">
            <a href="" style="color: #EB762B;">
                Responder
            </a>
        </p>
        <div class="d-flex">
            <a href="/editarMensagemForum">
                <div class="icon shadow">
                    <img src="images/edit.png" alt="edit" style="height: 30px; width: 30px; margin: 12px;">
                </div>
            </a>
            <a href="/deletarMensagemForum">
                <div class="icon shadow mx-3">
                    <img src="images/x.png" alt="edit" style="height: 30px; width: 30px; margin: 12px;">
                </div>
            </a>
        </div>
    </div>
</div>

</html>
